canvas {
	background-color: rgb(200,200,200);
}

* {
	border: 1px solid black;
}

img {
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
	float: left;
}

#start {
	float: left;
	width: 600px;
	height: 30px;
	background-color: #222324;
	padding: 0;
	margin: 0;
}

#stop {
	float: left;
	width: 600px;
	height: 30px;
	background-color: #222324;
	padding: 0;
	margin: 0;
}


h1 {
	float: left;
	width: 600px;
	height: 30px;
	background-color: #222324;
	padding: 0;
	margin: 0;
	font-family: Verdana;
	color: #C0C3C4;
	text-transform: capitalize;
	text-align: center;
	font-weight: 600;
	font-size: 20px;
}

#scoreboard {
	background-color: rbg(13,133,133);
}
